{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "node": 4
        },
        "forceAllTransforms": true
      },
    ],
  ],
  "plugins": ["transform-object-rest-spread"]
}
